<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Panel</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f4f4f4;
            margin: 20px;
        }

        .admin-panel {
            border: 1px solid #ddd;
            padding: 15px;
            background-color: #fff;
        }

        .link {
            display: block;
            margin-bottom: 10px;
            font-size: 18px;
            color: #333;
            text-decoration: none;
            cursor: pointer;
        }
    </style>
</head>
<body>
    <div class="admin-panel">
        <h2>Панель администратора</h2>
        <a style="color:green" class="link" href="{{ url_for('mailing_results_balance') }}">Результаты расслыки Информации о балансе</a>
        <a style="color:green" class="link" href="{{ url_for('mailing_results_reports') }}">Результаты расслыки Отчетов</a>
        <a style="color:green" class="link" href="{{ url_for('mailing_results_recordings') }}">Результаты расслыки Записей</a>
        <br>
        <hr>
        <br>
        <a style="color:cornflowerblue" class="link" href="{{ url_for('info_logs') }}">Информационные логи</a>
        <a style="color:cornflowerblue" class="link" href="{{ url_for('unhandled_errors_logs') }}">Логи критических ошибок</a>
        <a style="color:cornflowerblue" class="link" href="{{ url_for('handled_errors_logs') }}">Логи обработанных ошибок</a>
        <br>
        <hr>
        <br>
        <a style="color:cornflowerblue" class="link" href="{{ url_for('show_all_records') }}">Содержимое бд</a>
        <br>
        <hr>
        <br>
        <a style="color:red" class="link" href="{{ url_for('update_tg_bot_webhook') }}">Обновить Webhook для бота</a>
        <br>
        <hr>
        <br>
        <a style="color:red" class="link" href="{{ url_for('start_onethread_tests') }}">Запустить однопоточные тесты</a>
        <a style="color:red" class="link" href="{{ url_for('start_multythread_tests') }}">Запустить многопоточные тесты</a>
        <a style="color:red" class="link" href="{{ url_for('clear_json_and_db') }}">Очистить таблицы и json файлы</a>
        <a style="color:red" class="link" href="{{ url_for('clear_logs_handler') }}">Очистить логи</a>

    </div>
</body>
</html>
